* {
    font-family: Arial, sans-serif;
}

/* Estilo general del body */
body {
    display: flex;
    flex-direction: column; /* Apila los elementos de arriba hacia abajo */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    min-height: 100vh;
    margin: 0;

    /* Imagen de fondo */
    background-image: url('../../img/quienes-somos/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo del header */
header {
    text-align: center;
    margin-bottom: 120px; /* Espacio entre el título y las tarjetas */
}

header h1 {
    font-size: 48px;
    color: #0A70A7;
    text-align: center;
    padding-bottom: 5px;
}

header p {
    font-size: 18px;
}

/* Contenedor de las tarjetas */
.tarjetas {
    display: flex; /* Hace que las tarjetas estén en fila horizontal */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten si no caben en una línea */
    gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilo individual de cada tarjeta */
.persona {
    display: grid;
    margin: 0; /* Elimina márgenes adicionales; se maneja con gap */
    padding: 20px;
    border: 2px solid #0056b3;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-color: #BDE7FE;

    text-align: center;
    vertical-align: middle;
    font-weight: bold;

    transition: all 0.3s ease;

    position: relative;
    overflow: hidden;
}

/* Ocultar el contenido original de la tarjeta cuando se pasa el cursor */
.persona:hover p {
    visibility: hidden;
}

/* Mostrar el texto personalizado al pasar el cursor */
.persona::after {
    content: attr(data-hover);
    position: absolute;

    top: 50%;
    left: 100px;

    transform: translate(-38%, -50%); /* Centra el texto */
    font-size: 16px;

    text-align: left;
    white-space: pre-wrap; /* Permite interpretar saltos de línea */

    visibility: hidden;
    opacity: 0;

    transition: visibility 0s, opacity 0.3s;
}

/* Hacer visible el texto personalizado */
.persona:hover::after {
    visibility: visible;
    opacity: 1;
}

footer {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 98.5%;

    background-color: #0A70A7; /* Fondo opcional para destacar el footer */
    color: #AD9F72; /* Texto en color blanco */
    font-size: 16px;

    /* Línea separadora */
    border-top: 2px solid #54A6D8;
    padding: 10px; /* Espaciado para que no quede tan ajustado */
}

footer a {
    color: #E9DCBA;
    text-decoration: none;

    display: inline-block;
    margin: 0 10px;

    transition: transform 0.3s ease;
}

footer a:hover {
    transform: translateY(-5px);
}

